.about {
    width: 700px;
    height: 510px;
    margin: 30px auto;
    border: 1px solid lightgray;
    box-shadow: 0px 3px 2px lightgrey;
    padding: 5px;
    text-align: center;
    color: $clr6;

    .stores-map {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        .cities-btn {
            display: flex;
            justify-content: space-evenly;

            >* {
                @include btn($width:100px);
                margin-block-end: 10px
            }
        }

        .map {
            align-self: center;
            margin: 10px;
            border: 1px solid $clr6;
        }
    }

    img {
        height: 300px;
    }
}