.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;

    .chart-container {
        padding: 20px;
        border-bottom: 1px solid lightgray;
        box-shadow: 0px 3px 8px lightgrey;
        border-radius: 10px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .chart-txt {
            text-align: center;
            border-bottom: 1px solid lightgray;
            margin-block-end: 5px;
            
            h2 {
                color: $clr6;
                margin-block-end: 15px;
            }
        }
    }
}