.home-page {
    margin: 50px auto;
    height: 470px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: $clr2;
    border: 1px solid $clr4;
    border-radius: 8px;

    h2 {
        font-size: 2rem;
        color: darken($clr4, 20%);
    }

    h3 {
        text-align: start;
        margin-inline-start: rem(20px);
    }

    p {
        max-width: 80vw;
        margin: rem(20px)
    }

    img {
        height: 200px;
        align-self: center;

    }
}