.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    
    .card {
        padding: 10px;
        border-radius: 10px;
        background: $clr2;
        border: 1px solid $clr5;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $clr6;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

        h2{
            color: $clr5
        }
        img {
            height: 200px;
        }

        button{
            padding: 5px;
            background-color: $clr3;
            border: 1px solid $clr5;
            &:hover{
                background-color: $clr4;
                color: white;
            }
        }
    }
}