.toy-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;

    .toy-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        position: relative;
        width: fit-content;
        padding: 20px;
        border: 1px solid $clr3;
        border-radius: 10px;
        box-shadow: 0px 3px 8px lightgrey;
        text-align: center;
        justify-content: space-evenly;
        opacity: 1;

        img {
            position: absolute;
            opacity: .3;
            height: 400px;
            left: 0;
            top: 0;
            width: auto;
        }

        .toy-info {
            z-index: 10;
        }

        .toy-btns {
            display: flex;
            opacity: 1;
            z-index: 10;

            >* {
                @include btn();
            }
        }
    }

    .toy-user-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .chat {
            height: 400px;
            box-shadow: 0px 3px 8px lightgrey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .chatbox {
                height: 355px;
                overflow-y: scroll;
                width: 300px;
            }

            form {
                display: flex;
                justify-content: space-evenly;
                margin: 0 10px 10px 10px;
                height: 40px;

                textarea {
                    height: 40px;
                    resize: none;
                    border-radius: 4px;
                }

                button {
                    background-color: $clr8;
                    color: darken($clr8, 60%);

                    &:hover {
                        color: white;
                        background-color: darken($clr8, 20%);
                    }
                }

            }
        }

        .reviews-container {
            height: 400px;
            box-shadow: 0px 3px 8px lightgrey;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            form {
                display: flex;
                justify-content: space-evenly;
                margin: 0 10px 10px 10px;
                height: 40px;

                textarea {
                    height: 40px;
                    resize: none;
                    border-radius: 4px;
                }

                button {
                    background-color: $clr8;
                    color: darken($clr8, 60%);

                    &:hover {
                        color: white;
                        background-color: darken($clr8, 20%);
                    }
                }

            }
        }

    }


}