$clr1: #FEFCF3;
$clr2: #F5EBE0;
$clr3: #F0DBDB;
$clr4: #DBA39A;
$clr5: #E38A7D;
$clr6: #552922;

$clr8: rgb(146, 220, 146);
:root {
  font-family: Arial, Helvetica, sans-serif;
}




  // --clr2bg-light: #e9d8a6;

  // --gray1: rgb(240, 240, 240);
  // --gray2: rgb(155, 155, 155);
  // --gray3: rgb(44, 44, 44);